<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>Hi I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Thoughts and notes from a British guy traveling the world....</p>
    <p>Founder of <a href="http://www.labspp.co">Labs++</a></p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
